.carousel{
    height: 100vh;
    width: 100%;
}
.slideCarousel .swiper-slide{
    width: 90vw;
}
.swiper-pagination{
    color: white;
    top: auto;
    height: 15%;
    bottom: 0%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next{
    z-index: 11;
    content: url(/src/Icons/tranp.svg);   
    left: 51%;    
    width: 50px;
    height: 15%;
    background-image: url(/src/Icons/arrow-right.svg) ;
    background-repeat: no-repeat;
    background-size: 32px 25px;
    background-position-y: center;
    background-position-x: left;
    top:auto;
    bottom: 0%;
    
       
}
.swiper-button-prev{    
    content: url(/src/Icons/tranp.svg);   
    z-index: 11;
    width: 50px;
    height: 15%;
    background-image: url(/src/Icons/arrow-left.svg) ;
    background-repeat: no-repeat;
    background-size: 32px 25px;
    background-position-y: center;
    background-position-x: right;
    top:auto;
    bottom: 0%;    
    right: 51%;    
    left: auto;
}
.swiper-pagination{
    
    font-size: 12px;
}


.slideContent{
    
    position: relative;
    background-image: url(../../img/Blue_car.jpg);
    width: 100vw;
    height: 100vh;
}
.slideBody{
    box-sizing: border-box;
    position: absolute;
    top: 60%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 580px;
    height: 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
h2,h3{
    color: #ffffff;
    text-align: center;
    
}
h2{
    font-size: 40px;
    
}
h3{
    font-size: 18px;
    font-weight: 400;
    width: 70%;
}
.btnContactanos{
    
    border-radius: 5px;
    background-color: #3552A6 ;
    width: 166px;
    height: 43px;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 20px;
    cursor: pointer;
}
.btnContactanos:hover{
    text-decoration: underline;
}
#arrowRigth{   
    content: url(/src/Icons/arrow.svg)  ;
    
    float: right;
    width: 13px;
    right: 13px;
    
}
@media (max-width: 600px) {
    .carousel{
        height: 87vh;
        width: 100%;
    }
    .slideBody{
        top: 45%;  
        width: 100vw;
        height: max-content;
        padding-right: 20px;
        padding-left: 20px;
    }
    h3{
        width: 100%;
        margin-top: 30px;
        font-size: 24px;
        line-height: 32px;
    }
    .btnContactanos{
        margin-top: 40px;
        width: 200px;
        height: 60px;
        font-size: 18px;
    }
    .itemMenu{
        font-size: 20px;
    }
    .swiper-button-next{
        height: 20%;
        background-size: 42px 35px;
        left: 56%;        
    }
    .swiper-button-prev{
        height: 20%;
        background-size: 42px 35px;
        right:  56%;
    }
    .swiper-pagination{
        height: 20%;
        font-size: 16px;
    }
    .slideContent{
        background-position: 120vh 0vw;
        
    }
}